@CHARSET "UTF-8";


@font-face {   src: url(./font/hamfont.ttf); }

body{font-family:openfont;}
a{text-decoration:none}
h1{	font-size:14px; }
button{font-size:13px; }
table{font-size:14px; }
th,td{font-size:14px; }
h1{font-size:10px; }


/***********************************************오픈톡메인*********************************************************/
	#pop{
	    width:400px; height:500px; background-color:white; 
	     margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px;
	    VISIBILITY: visible ;
	    font-family:openfont; font-size:11px;
	   }
   	.notice {width:400px; height:20px; color:white; font-weight:bold; background-color:#00A2E8; font-family:openfont; font-size:13px;}
	.notice #noticeright { width:30px; height:20px; float:right; font-family:openfont; font-size:13px;}
	
	.contentsTop{width:400px; height:60px; font-family:openfont; font-size:13px; margin:center; text-align:center; background-color:#EAEAEA;}
	.contentsTop #toptable{width:400px; height:60px; font-family:openfont; font-size:11px; text-align:center;}
	#toptable img{border-radius:0%;}
	
	.contentsBottom{width:400px; height:30px; font-family:openfont; font-size:11px; background-color:#F6F6F6; }
	.contentsBottom #bottomtable{width:400px; height:30px; font-family:openfont; font-size:11px; border-bottom: 1px solid #ccc;}
	
	.contents { width:400px; height:390px;  font-family:openfont; font-size:10px; background-color:#F6F6F6; }
	 
   .pop_bt{
    width:50px; 
    cursor: pointer;
   }
   
   .pop_talk{
    width:50px; 
    cursor: pointer;
   }
   
   #close { width:20px; height:10px; padding:0 5 0 5; font-weight:bold; cursor:pointer; font-family:openfont; font-size:13px;}
   #closetalk { width:20px; height:10px; padding:0 5 0 5; font-weight:bold; cursor:pointer; font-family:openfont; font-size:13px;}
	
	span{
		font-family:openfont;
		font-size:11px;
	}		
	
	
/*****************************************메인 로그인 멤버 이름 드롭다운메뉴***************************************************/	
	.dropbtn {
	    background-color: #00A2E8;
	    color: white;
	    padding: 5px;
	    font-size: 13px;
	    border: none;
	    cursor: pointer;
	    border-radius: 10px;
	}	
	.dropdown {
	    position: relative;
	    display: inline-block;
	}
	
	.dropdown-content {
	    display: none;
	    border-radius: 25px; 
	    position: absolute;
	    background-color: white;
	    min-width: 80px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    
	}.dropdown-content a {
	    color: black;
	    padding: 10px 10px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {background-color: #5CD1E5;border-radius: 25px; }
	.dropdown:hover .dropdown-content { display: block;	}	
	.dropdown:hover .dropbtn {  background-color: #5CD1E5;	}
	
/***************************************오픈톡메인 메뉴 버튼설정*************************************************/	
	
	#mem{
    width:80px; 
    cursor: pointer;
    float:left;
   }
   	#memList{
    width:400px; 
    cursor: pointer;
    float:left;
   }
   #memSearch{
    width:50px; 
    cursor: pointer;
 	float:left;
   }
   #imgg img{
     
   border-radius: 50%; 
   width:35px;
   height:30px;
   }
   
 
}