@CHARSET "UTF-8";


@font-face {   src: url(./font/hamfont.ttf); }

body{font-family:openfont;}
a{text-decoration:none}
h1{	font-size:14px; }
button{font-size:13px; }
table{font-size:14px; }
th,td{font-size:14px; }
h1{font-size:10px; }


/***********************************************오픈톡메인*********************************************************/
	#pop{
	    width:300px; height:500px; background-color:white; 
	     
	    VISIBILITY: visible ;
	    font-family:openfont; font-size:11px;
	   }
   	.notice {width:300px; height:20px; color:white; font-weight:bold; background-color:#00A2E8; font-family:openfont; font-size:13px;}
	.notice #noticeright { width:30px; height:20px; float:right; font-family:openfont; font-size:13px;}
	
	.contentsTop{width:300px; height:60px; font-family:openfont; font-size:13px; margin:center; text-align:center; background-color:#EAEAEA;}
	.contentsTop #toptable{width:300px; height:60px; font-family:openfont; font-size:11px; text-align:center;}
	#toptable img{border-radius:0%;}
	
	.contentsBottom{width:300px; height:30px; font-family:openfont; font-size:11px; background-color:#F6F6F6; }
	.contentsBottom #bottomtable{width:300px; height:30px; font-family:openfont; font-size:11px; border-bottom: 1px solid #ccc;}
	
	.contents { width:300px; height:390px;  font-family:openfont; font-size:10px; background-color:#F6F6F6; }
	 
   .pop_bt{
    width:50px; 
    cursor: pointer;
   }
   
   .pop_talk{
    width:50px; 
    cursor: pointer;
   }
   
   #close { width:20px; height:10px; padding:0 5 0 5; font-weight:bold; cursor:pointer; font-family:openfont; font-size:13px;}
   #closetalk { width:20px; height:10px; padding:0 5 0 5; font-weight:bold; cursor:pointer; font-family:openfont; font-size:13px;}
	
	span{
		font-family:openfont;
		font-size:11px;
	}		
	
	
/*****************************************메인 로그인 멤버 이름 드롭다운메뉴***************************************************/	
	.dropbtn {
	    background-color: #00A2E8;
	    color: white;
	    padding: 5px;
	    font-size: 13px;
	    border: none;
	    cursor: pointer;
	    border-radius: 10px;
	}	
	.dropdown {
	    position: relative;
	    display: inline-block;
	}
	
	.dropdown-content {
	    display: none;
	    border-radius: 25px; 
	    position: absolute;
	    background-color: white;
	    min-width: 80px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    
	}.dropdown-content a {
	    color: black;
	    padding: 10px 10px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {background-color: #5CD1E5;border-radius: 25px; }
	.dropdown:hover .dropdown-content { display: block;	}	
	.dropdown:hover .dropbtn {  background-color: #5CD1E5;	}
	
/***************************************오픈톡메인 메뉴 버튼설정*************************************************/	
	
	#mem{
    width:50px; 
    cursor: pointer;
    float:left;
   }
   #memSearch{
    width:50px; 
    cursor: pointer;
 	float:left;
   
/***************************************사원프로필설정팝업*************************************************/   






/*******************************************메인공지스크롤링부분******************************************************/
#alarm_cate{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float:left;
	width: 19%;
	font-family:openfont; 
	font-size:15px;
}

#alarm_name{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float: left;
	width: 35%;
	font-family:openfont; 
	font-size:15px;
}

#report_alarm{
	float: left; 
	width: 41%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-family:openfont; 
	font-size:15px;
}

.alarm_atag {
	text-decoration:none;
	}
	
#alarm_div{
	float:right;
	width:92%; 
	height:30px;
	border-radius: 15px; 
	font-family:openfont; 
	font-size:15px;
	border: 1px solid #bbc5cd;
}


.alarm_li{
	width:620px;
	font-family:openfont;
}

.alarm_li:hover {background-color: #5CD1E5}

/*******************************************메인공지리스트부분******************************************************/
div, ul, li { margin:0; padding:0; }

#noticeList {
	border-radius: 15px 0 0 0;
	width:4%;
	float:left;
	padding:0 0 3px 0;
	background-color: #FFFFFF;
}

#noticeList img{ margin-left:15px;
margin-top:10px;}



#noticeList ul li {
	float:left;
	list-style-type:none;
	height:20px;
	z-index:1000;
}

#noticeList a {
	color:#f1f1f1;
	font-family:arial;
	padding:0 10px 0 10px;
	text-decoration:none;
}

#noticeList ul ul {
	display:none;
	position:absolute;
	z-index:1000;
	background-color: #FFFFFF;
}

#noticeList ul li:hover ul {
	display: block;
}

#noticeList ul ul li {
	float:none;
	width:570px;
	margin-left:48px;
}

#noticeList ul ul li:hover{
	background-color: #5CD1E5;
} 

#drop_cate{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float:left;
	width: 19%;
	font-family:openfont; 
	font-size:15px;
}

#drop_name{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float: left;
	width: 35%;
	font-family:openfont; 
	font-size:15px;
}

#report_drop{
	float: left; 
	width: 41%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-family:openfont; 
	font-size:15px;
}

.photo_main {position: relative;}
.photo_main_up{ position: absolute; left: 14; bottom: 8;font-size: 1.7em;  width: 30px;font-weight: bold;opacity: 0.7; filter: alpha(opacity=60); }
