@CHARSET "UTF-8";


@font-face {   src: url(./font/hamfont.ttf); }

body{font-family:openfont;}
a{text-decoration:none}
h1{	font-size:14px; }
button{font-size:13px; }
table{font-size:14px; }
th,td{font-size:14px; }
h1{font-size:10px; }

/* #EAEAEA */
/***********************************************오픈톡메인*********************************************************/
	#pop{
	    width:600px; height:600px; background-color:white; 
	     margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px;
	    VISIBILITY: visible ;
	    font-family:openfont; font-size:11px;
	   }
   	.notice {width:600px; height:20px; color:white; font-weight:bold; background-color:#00A2E8; font-family:openfont; font-size:13px;}
	.notice #noticeright { width:30px; height:20px; float:right; font-family:openfont; font-size:13px;}
	
	.contentsTop{width:600px; height:60px; font-family:openfont; font-size:13px; margin:center; text-align:center; }
	.contentsTop #toptable{width:300px; height:60px; font-family:openfont; font-size:11px; text-align:center; background-color:#BDBDBD;}

	#toptable img{border-radius:0%;}
	
	.contents {width:600px; height:500px;  font-family:openfont; font-size:10px;}
	.contents #contentsMember {width:300px; height:520px;  font-family:openfont; font-size:10px; background-color:#EAEAEA;}
	 
  
	span{
		font-family:openfont;
		font-size:11px;
	}		
	
	
/*****************************************메인 로그인 멤버 이름 드롭다운메뉴***************************************************/	
	
	.dropdown {
	    position: relative;
	    display: inline-block;
	}
	.dropdown #btn{
	width:100px;
	}

/***************************************오픈톡메인 메뉴 버튼설정*************************************************/	
	
	#mem{
    width:180px; 
    cursor: pointer;
    float:left;
    text-align:left;
   }
   	#memList{
    width:300px; 
    
    float:left;
   }
   #memSearch{
    width:120px; 
    cursor: pointer;
 	float:left;
   }
   #imgg img{
     cursor: pointer;
   border-radius: 50%; 
   width:35px;
   height:30px;
   }
   #kyung{
     position: absolute;
     margin-left:310px;
     margin-top:30px;
     
   }
   .dropdown-menu a{
   cursor: pointer;
   }
   
/* 	#chat{
	position: absolute;
     margin-top:500px;
	
	} 
	#send{
	 position: absolute;
     margin-top:500px;
     margin-left:252px;
	
	} 
 	 */
 	
}